<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plaid Project</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="banner">
        <h1>Plaid Project</h1>
    </div>

    <div id="container">
        <button id="link-btn">Open Link</button>
    </div>

    <div id="app">

        <div class="box" id="txnBox">
            <button id="pull-transaction-data">Get Transactions</button>
            <div id="get-transactions-data"></div>
        </div>

        <div class="box" id="play-button">
            <form action="/play">
                <button class="play" value = "Play Hangman" type="submit">Play Hangman</button>
            </form>
        </div>

        

 
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://cdn.plaid.com/link/2.0.16/link-initialize.js"></script>
    <script>
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
    ;(function($) {
        var handler = Plaid.create({
            apiVersion: 'v2',
            clientName: 'Plaid Project',
            env: '{{ plaid_environment }}',
            product: ['transactions'],
            key: '{{ plaid_public_key }}',
            onSuccess: function(public_token) {
                $.post('/get_access_token', {public_token: public_token}, function() {
                    $('#container').fadeOut('fast', function() {
                        $('#intro').hide();
                        $('#app, #steps').fadeIn('slow');
                    });
                });
            },
        });

        $('#link-btn').on('click', function(e) {
            handler.open();
        });

        var accessToken =  getParameterByName('access_token');
        if (accessToken != null) {
            $.post('/set_access_token', {access_token: accessToken}, function() {
                $('#container').fadeOut('fast', function() {
                    $('#intro').hide();
                    $('#app').fadeIn('slow');
   
                });
            });
        }


        $('#pull-transaction-data').on('click', function(e) {
            $.post('/transactions', function(data) {
                if (data.error) {
                    $(this).html('<p>' + data.error + '</p>').slideDown();
                } else {
                $('#get-transactions-data').slideUp(function() {
                    var html = '<p>Pulled ' + data.transactions.length + ' transaction(s).</p>';

                    $(this).slideUp(function() {
                        $(this).html(html).slideDown();
                        $('#play-button').fadeIn('slow');
                    });
                });
                }
            });
        });



   


        
    })(jQuery);
    </script>
</body>
</html>
